@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&display=swap');

body,* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(51, 54, 66);
}

.title{
    font-family: 'Handjet', cursive;
    animation: rainbow 1800ms linear;
    animation-iteration-count: infinite;
    font-size: 40pt;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

#container {
    display: flex;
    margin: 0 auto;
    width: 656px;
    height: 656px;
    overflow: hidden;
    flex-wrap: wrap;
    
    
}

.grid {
    width: 41px;
    height: 41px;
    border: 1px solid #0000001e;
    

}

button {
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    font-family: 'Handjet', cursive;
    color: black;
    font-size: 15pt;
    font-weight: bold;
    transition: rainbow-bg 2000ms;
    cursor: pointer;
    margin: 10px;
    
}

button:hover{
    animation: rainbow-bg 1800ms ease-in-out;
    animation-iteration-count: infinite;
    color: white;
    
    
}

.options {
    display: flex;
   justify-content: center;
    
}

.main {
    display: flex;
    background-color: white;
    padding: 20px;
    width: 700px;
    border-radius: 30px;
    
    margin: 20px auto;
}


#color {
    border-radius: 50px;
    width: 49px;
    height: 50px;
    padding: 5px;
    
}

.color {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color>label{
    font-size: 30pt;
    font-family: 'Handjet', cursive;
    font-weight: bold;
    color: white;
}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}

@keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}